<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chatadding</title>
</head>
<body>
    <form method="post" action="/chat">
    <input placeholder="who are you" name ="from"/>
    <br> <br>
    <textarea name="msg">write your new message  </textarea>
    <br> <br>
    <input placeholder="to whom you are writing"  name="to"/>
    <br> <br>
    <button>submit</button>
</form>
</body>
</html>